{% extends 'blogapp/base.html' %}

{% block title %} <title>{{single_post.title}}</title> {% endblock %}

{% block content %}
<br>
 	<div class="container">
    	<div style="text-align: center;">
      <h1>Post Details</h1>
    	</div>
  	</div>



<div class="container">
{% if single_post %}
  <img class="img-fluid" alt="Responsive image" src="{{ single_post.image.url }}">
  <p>{{ single_post.title }}</p> 
  <p>Author: {{ single_post.author }}</p>         
  <p>{{ single_post.post|safe }}</p>  
{% endif %}
</div>

{% endblock %}
